








<div class="StaffSection StaffSection--square">
  <div class="StaffSection-container">
    <h2 class="StaffSection-title">Executive Team</h2>
    <ul class="StaffSection-grid">
      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/chris-stephens/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/chris-stephens-1.jpg');"></span>
          <span class="StaffSection-name">Dr. Chris Stephens</span>
          <span class="StaffSection-staffTitle">Senior Pastor</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/josh-whitehead/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/josh-whitehead-1.jpg');"></span>
          <span class="StaffSection-name">Dr. Josh Whitehead</span>
          <span class="StaffSection-staffTitle">Executive Pastor</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/chuck-carringer/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/chuck-carringer-1.jpg');"></span>
          <span class="StaffSection-name">Dr. Chuck Carringer</span>
          <span class="StaffSection-staffTitle">Pastor of Leadership Development & Stewardship</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/michele-stephens/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/michele-stephens-1.jpg');"></span>
          <span class="StaffSection-name">Michele Stephens</span>
          <span class="StaffSection-staffTitle">Worship and Creative Arts Leader</span>
        </a>
      </li>

      
    </ul>
  </div>
</div>









<div class="StaffSection StaffSection--square Section--lightGrey">
  <div class="StaffSection-container">
    <h2 class="StaffSection-title">Campus Pastors</h2>
    <ul class="StaffSection-grid">
      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/chad-funk/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/chad-funk-1.jpg');"></span>
          <span class="StaffSection-name">Chad Funk</span>
          <span class="StaffSection-staffTitle">Campbell Campus Pastor</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/matt-grimes/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/matt-grimes-1.jpg');"></span>
          <span class="StaffSection-name">Matt Grimes</span>
          <span class="StaffSection-staffTitle">Blount Campus Pastor</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/mike-baker/">
          <span class="StaffSection-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
          <span class="StaffSection-name">Mike Baker</span>
          <span class="StaffSection-staffTitle">North Knoxville Campus Pastor</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/sid-spiva/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/sid-spiva-1.jpg');"></span>
          <span class="StaffSection-name">Sid Spiva</span>
          <span class="StaffSection-staffTitle">Anderson Campus Pastor</span>
        </a>
      </li>

      
    </ul>
  </div>
</div>









<div class="StaffSection StaffSection--square">
  <div class="StaffSection-container">
    <h2 class="StaffSection-title">fpKids</h2>
    <ul class="StaffSection-grid">
      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/gina-mcclain/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/gina-mcclain-1.jpg');"></span>
          <span class="StaffSection-name">Gina McClain</span>
          <span class="StaffSection-staffTitle">Pastor of Children's Ministries</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/kandice-baker/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/kandice-baker-1.jpg');"></span>
          <span class="StaffSection-name">Kandice Baker</span>
          <span class="StaffSection-staffTitle">North Knoxville Campus fpKids Director</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/charlie-white/">
          <span class="StaffSection-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
          <span class="StaffSection-name">Charlie White</span>
          <span class="StaffSection-staffTitle">Anderson Campus fpKids Director</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/jamie-davis/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/jamie-davis-1.jpg');"></span>
          <span class="StaffSection-name">Jamie Davis</span>
          <span class="StaffSection-staffTitle">fpKids Team Administrator</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/suzanne-spiva/">
          <span class="StaffSection-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
          <span class="StaffSection-name">Suzanne Spiva</span>
          <span class="StaffSection-staffTitle">Campbell Campus fpKids Director</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/tiffany-reid/">
          <span class="StaffSection-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
          <span class="StaffSection-name">Tiffany Reid</span>
          <span class="StaffSection-staffTitle">fpKids Team Administrator</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/jennifer-spencer/">
          <span class="StaffSection-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
          <span class="StaffSection-name">Jennifer Spencer</span>
          <span class="StaffSection-staffTitle">Volunteer Coordinator of Support Teams</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/hope-hall/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/hope-hall-1.jpg');"></span>
          <span class="StaffSection-name">Hope Hall</span>
          <span class="StaffSection-staffTitle">fpKids Elementary Director</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/aimee-fair/">
          <span class="StaffSection-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
          <span class="StaffSection-name">Aimee Fair</span>
          <span class="StaffSection-staffTitle">fpKids Preschool Director</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/annalee-peltz/">
          <span class="StaffSection-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
          <span class="StaffSection-name">AnnaLee Peltz</span>
          <span class="StaffSection-staffTitle">Volunteer Coordinator-Elementary Small Groups</span>
        </a>
      </li>

      
    </ul>
  </div>
</div>









<div class="StaffSection StaffSection--square Section--lightGrey">
  <div class="StaffSection-container">
    <h2 class="StaffSection-title">fpStudents</h2>
    <ul class="StaffSection-grid">
      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/zac-stephens/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/zac-stephens-1.jpg');"></span>
          <span class="StaffSection-name">Zac Stephens</span>
          <span class="StaffSection-staffTitle">Pastor of Student Ministries/Pellissippi Campus Student Pastor</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/tonja-breaux/">
          <span class="StaffSection-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
          <span class="StaffSection-name">Tonja Breaux</span>
          <span class="StaffSection-staffTitle">Student Ministry Assistant</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/ryan-silowski/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/ryan-silowski-1.jpg');"></span>
          <span class="StaffSection-name">Ryan Silowski</span>
          <span class="StaffSection-staffTitle">Anderson Campus Student Pastor</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/noah-case/">
          <span class="StaffSection-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
          <span class="StaffSection-name">Noah Case</span>
          <span class="StaffSection-staffTitle">North Knox Student Pastor</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/chris-looper/">
          <span class="StaffSection-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
          <span class="StaffSection-name">Chris Looper</span>
          <span class="StaffSection-staffTitle">fpStudents Venue & Creative Director</span>
        </a>
      </li>

      
    </ul>
  </div>
</div>









<div class="StaffSection StaffSection--square">
  <div class="StaffSection-container">
    <h2 class="StaffSection-title">Groups Ministry</h2>
    <ul class="StaffSection-grid">
      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/jody-kenyon/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/jody-kenyon-1.jpg');"></span>
          <span class="StaffSection-name">Jody Kenyon</span>
          <span class="StaffSection-staffTitle">Group Ministries</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/jennifer-patrick/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/jennifer-patrick-1.jpg');"></span>
          <span class="StaffSection-name">Jennifer Patrick</span>
          <span class="StaffSection-staffTitle">Group Assimilation Coordinator</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/rob-patrick/">
          <span class="StaffSection-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
          <span class="StaffSection-name">Rob Patrick</span>
          <span class="StaffSection-staffTitle">Pellissippi Campus Groups Pastor</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/tom-conley/">
          <span class="StaffSection-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
          <span class="StaffSection-name">Tom Conley</span>
          <span class="StaffSection-staffTitle">Anderson Campus Groups Pastor</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/kevin-simcoe/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/kevin-simcoe-1.jpg');"></span>
          <span class="StaffSection-name">Kevin Simcoe</span>
          <span class="StaffSection-staffTitle">North Knox Groups Pastor</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/brad-ervin/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/brad-ervin-1.jpg');"></span>
          <span class="StaffSection-name">Brad Ervin</span>
          <span class="StaffSection-staffTitle">Pastor of Outreach and Missions</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/kelsey-arnold/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/kelsey-arnold-1.jpg');"></span>
          <span class="StaffSection-name">Kelsey Arnold</span>
          <span class="StaffSection-staffTitle">Assistant to the Pastor of Outreach and Missions</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/dustin-scott/">
          <span class="StaffSection-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
          <span class="StaffSection-name">Dustin Scott</span>
          <span class="StaffSection-staffTitle">Pastor of Group Leader Discipleship</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/rick-henry/">
          <span class="StaffSection-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
          <span class="StaffSection-name">Rick Henry</span>
          <span class="StaffSection-staffTitle">Campbell Campus Groups Director</span>
        </a>
      </li>

      
    </ul>
  </div>
</div>









<div class="StaffSection StaffSection--square Section--lightGrey">
  <div class="StaffSection-container">
    <h2 class="StaffSection-title">Worship Ministry</h2>
    <ul class="StaffSection-grid">
      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/michele-stephens/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/michele-stephens-1.jpg');"></span>
          <span class="StaffSection-name">Michele Stephens</span>
          <span class="StaffSection-staffTitle">Worship and Creative Arts Leader</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/rachel-duncan/">
          <span class="StaffSection-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
          <span class="StaffSection-name">Rachel Duncan</span>
          <span class="StaffSection-staffTitle">Assistant to Worship and Creative Arts Leader</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/jaclyn-holloway/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/jaclyn-holloway-1.jpg');"></span>
          <span class="StaffSection-name">Jaclyn Holloway</span>
          <span class="StaffSection-staffTitle">Assistant to the Worship and Creative Arts Leader</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/brandon-dunford/">
          <span class="StaffSection-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
          <span class="StaffSection-name">Brandon Dunford</span>
          <span class="StaffSection-staffTitle">North Knox Worship Director</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/travis-spiva/">
          <span class="StaffSection-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
          <span class="StaffSection-name">Travis Spiva</span>
          <span class="StaffSection-staffTitle">Campbell Worship Pastor</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/micah-stephens/">
          <span class="StaffSection-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
          <span class="StaffSection-name">Micah Stephens</span>
          <span class="StaffSection-staffTitle">Creative Director</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/adam-chapman/">
          <span class="StaffSection-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
          <span class="StaffSection-name">Adam Chapman</span>
          <span class="StaffSection-staffTitle">Video Project Manager</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/jordan-peltz/">
          <span class="StaffSection-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
          <span class="StaffSection-name">Jordan Peltz</span>
          <span class="StaffSection-staffTitle">Video Project Support</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/emily-carringer/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/emily-carringer-1.jpg');"></span>
          <span class="StaffSection-name">Emily Carringer</span>
          <span class="StaffSection-staffTitle">Worship Programming Director</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/justin-petrowski/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/justin-petrowski-1.jpg');"></span>
          <span class="StaffSection-name">Justin Petrowski</span>
          <span class="StaffSection-staffTitle">Worship Ministry Associate</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/tanner-dalton/">
          <span class="StaffSection-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
          <span class="StaffSection-name">Tanner Dalton</span>
          <span class="StaffSection-staffTitle">Central Worship Associate</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/zach-carringer/">
          <span class="StaffSection-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
          <span class="StaffSection-name">Zach Carringer</span>
          <span class="StaffSection-staffTitle">Worship Intern</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/john-adams/">
          <span class="StaffSection-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
          <span class="StaffSection-name">John Adams</span>
          <span class="StaffSection-staffTitle">Blount Campus Worship Pastor</span>
        </a>
      </li>

      
    </ul>
  </div>
</div>









<div class="StaffSection StaffSection--square">
  <div class="StaffSection-container">
    <h2 class="StaffSection-title">Leadership Development and Stewardship</h2>
    <ul class="StaffSection-grid">
      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/chuck-carringer/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/chuck-carringer-1.jpg');"></span>
          <span class="StaffSection-name">Dr. Chuck Carringer</span>
          <span class="StaffSection-staffTitle">Pastor of Leadership Development & Stewardship</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/jennifer-rose/">
          <span class="StaffSection-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
          <span class="StaffSection-name">Jennifer Rose</span>
          <span class="StaffSection-staffTitle">Assistant to the Pastor of Leadership Development & Stewardship</span>
        </a>
      </li>

      
    </ul>
  </div>
</div>









<div class="StaffSection StaffSection--square Section--lightGrey">
  <div class="StaffSection-container">
    <h2 class="StaffSection-title">Administration</h2>
    <ul class="StaffSection-grid">
      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/josh-whitehead/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/josh-whitehead-1.jpg');"></span>
          <span class="StaffSection-name">Dr. Josh Whitehead</span>
          <span class="StaffSection-staffTitle">Executive Pastor</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/gloria-petrowski/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/gloria-petrowski-1.jpg');"></span>
          <span class="StaffSection-name">Gloria Petrowski</span>
          <span class="StaffSection-staffTitle">Assistant to the Senior Pastor</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/marti-willen/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/marti-willen-1.jpg');"></span>
          <span class="StaffSection-name">Marti Willen</span>
          <span class="StaffSection-staffTitle">Assistant to the Executive Pastor & First Impressions Director</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/aaron-goin/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/aaron-goin-1.jpg');"></span>
          <span class="StaffSection-name">Aaron Goin</span>
          <span class="StaffSection-staffTitle">Chief Financial Officer</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/deneen-lambert/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/deneen-lambert-1.jpg');"></span>
          <span class="StaffSection-name">Deneen Lambert</span>
          <span class="StaffSection-staffTitle">Assistant to the Chief Financial Officer</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/mallory-ellis/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/mallory-ellis-1.jpg');"></span>
          <span class="StaffSection-name">Mallory Ellis</span>
          <span class="StaffSection-staffTitle">Accounting Director & Human Resources Director</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/kyle-gilbert/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/kyle-gilbert-1.jpg');"></span>
          <span class="StaffSection-name">Kyle Gilbert</span>
          <span class="StaffSection-staffTitle">Pastor of Communications & Internet Campus Pastor</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/heather-burson/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/heather-burson-1.jpg');"></span>
          <span class="StaffSection-name">Heather Burson</span>
          <span class="StaffSection-staffTitle">Graphic Designer</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/brad-roberts/">
          <span class="StaffSection-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
          <span class="StaffSection-name">Brad Roberts</span>
          <span class="StaffSection-staffTitle">Web Developer</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/miles-creasman/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/miles-creasman-1.jpg');"></span>
          <span class="StaffSection-name">Miles Creasman</span>
          <span class="StaffSection-staffTitle">Next Steps Pastor/Blount Groups Pastor</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/macy-deel/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/macy-deel-1.jpg');"></span>
          <span class="StaffSection-name">Macy Deel</span>
          <span class="StaffSection-staffTitle">Next Steps Assistant</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/brenda-moore/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/brenda-moore-1.jpg');"></span>
          <span class="StaffSection-name">Brenda Moore</span>
          <span class="StaffSection-staffTitle">Receptionist</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/joe-filipowicz/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/joe-filipowicz-1.jpg');"></span>
          <span class="StaffSection-name">Joe Filipowicz</span>
          <span class="StaffSection-staffTitle">IT Director</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/jeff-rose/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/jeff-rose-1.jpg');"></span>
          <span class="StaffSection-name">Jeff Rose</span>
          <span class="StaffSection-staffTitle">Building Services Director</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/ann-slimp/">
          <span class="StaffSection-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
          <span class="StaffSection-name">Ann Slimp</span>
          <span class="StaffSection-staffTitle">Staff Counselor</span>
        </a>
      </li>

      

      
      

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/sara-fulton/">
          <span class="StaffSection-photo" style="background-image:url('/build/images/staff/sara-fulton-1.jpg');"></span>
          <span class="StaffSection-name">Sara Fulton</span>
          <span class="StaffSection-staffTitle">Staff Counselor</span>
        </a>
      </li>

      
    </ul>
  </div>
</div>



