



<h2 class="Section-title">Executive Team</h2>

<ul class="StaffGallery">
  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/chris-stephens/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/chris-stephens-1.jpg');"></span>
      <span class="StaffGallery-name">Dr. Chris Stephens</span>
      <span class="StaffGallery-title">Senior Pastor</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/josh-whitehead/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/josh-whitehead-1.jpg');"></span>
      <span class="StaffGallery-name">Dr. Josh Whitehead</span>
      <span class="StaffGallery-title">Executive Pastor</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/chuck-carringer/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/chuck-carringer-1.jpg');"></span>
      <span class="StaffGallery-name">Dr. Chuck Carringer</span>
      <span class="StaffGallery-title">Pastor of Leadership Development & Stewardship</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/michele-stephens/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/michele-stephens-1.jpg');"></span>
      <span class="StaffGallery-name">Michele Stephens</span>
      <span class="StaffGallery-title">Worship and Creative Arts Leader</span> </a>
  </li>

  
</ul>





<h2 class="Section-title">Campus Pastors</h2>

<ul class="StaffGallery">
  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/chad-funk/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/chad-funk-1.jpg');"></span>
      <span class="StaffGallery-name">Chad Funk</span>
      <span class="StaffGallery-title">Campbell Campus Pastor</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/matt-grimes/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/matt-grimes-1.jpg');"></span>
      <span class="StaffGallery-name">Matt Grimes</span>
      <span class="StaffGallery-title">Blount Campus Pastor</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/mike-baker/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Mike Baker</span>
      <span class="StaffGallery-title">North Knoxville Campus Pastor</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/sid-spiva/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/sid-spiva-1.jpg');"></span>
      <span class="StaffGallery-name">Sid Spiva</span>
      <span class="StaffGallery-title">Anderson Campus Pastor</span> </a>
  </li>

  
</ul>





<h2 class="Section-title">fpKids</h2>

<ul class="StaffGallery">
  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/gina-mcclain/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/gina-mcclain-1.jpg');"></span>
      <span class="StaffGallery-name">Gina McClain</span>
      <span class="StaffGallery-title">Pastor of Children's Ministries</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/kandice-baker/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/kandice-baker-1.jpg');"></span>
      <span class="StaffGallery-name">Kandice Baker</span>
      <span class="StaffGallery-title">North Knoxville Campus fpKids Director</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/charlie-white/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Charlie White</span>
      <span class="StaffGallery-title">Anderson Campus fpKids Director</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/jamie-davis/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/jamie-davis-1.jpg');"></span>
      <span class="StaffGallery-name">Jamie Davis</span>
      <span class="StaffGallery-title">fpKids Team Administrator</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/suzanne-spiva/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Suzanne Spiva</span>
      <span class="StaffGallery-title">Campbell Campus fpKids Director</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/tiffany-reid/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Tiffany Reid</span>
      <span class="StaffGallery-title">fpKids Team Administrator</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/jennifer-spencer/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Jennifer Spencer</span>
      <span class="StaffGallery-title">Volunteer Coordinator of Support Teams</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/hope-hall/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/hope-hall-1.jpg');"></span>
      <span class="StaffGallery-name">Hope Hall</span>
      <span class="StaffGallery-title">fpKids Elementary Director</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/aimee-fair/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Aimee Fair</span>
      <span class="StaffGallery-title">fpKids Preschool Director</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/annalee-peltz/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">AnnaLee Peltz</span>
      <span class="StaffGallery-title">Volunteer Coordinator-Elementary Small Groups</span> </a>
  </li>

  
</ul>





<h2 class="Section-title">fpStudents</h2>

<ul class="StaffGallery">
  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/zac-stephens/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/zac-stephens-1.jpg');"></span>
      <span class="StaffGallery-name">Zac Stephens</span>
      <span class="StaffGallery-title">Pastor of Student Ministries/Pellissippi Campus Student Pastor</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/tonja-breaux/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Tonja Breaux</span>
      <span class="StaffGallery-title">Student Ministry Assistant</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/ryan-silowski/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/ryan-silowski-1.jpg');"></span>
      <span class="StaffGallery-name">Ryan Silowski</span>
      <span class="StaffGallery-title">Anderson Campus Student Pastor</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/noah-case/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Noah Case</span>
      <span class="StaffGallery-title">North Knox Student Pastor</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/chris-looper/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Chris Looper</span>
      <span class="StaffGallery-title">fpStudents Venue & Creative Director</span> </a>
  </li>

  
</ul>





<h2 class="Section-title">Groups Ministry</h2>

<ul class="StaffGallery">
  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/jody-kenyon/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/jody-kenyon-1.jpg');"></span>
      <span class="StaffGallery-name">Jody Kenyon</span>
      <span class="StaffGallery-title">Group Ministries</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/jennifer-patrick/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/jennifer-patrick-1.jpg');"></span>
      <span class="StaffGallery-name">Jennifer Patrick</span>
      <span class="StaffGallery-title">Group Assimilation Coordinator</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/rob-patrick/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Rob Patrick</span>
      <span class="StaffGallery-title">Pellissippi Campus Groups Pastor</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/tom-conley/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Tom Conley</span>
      <span class="StaffGallery-title">Anderson Campus Groups Pastor</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/kevin-simcoe/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/kevin-simcoe-1.jpg');"></span>
      <span class="StaffGallery-name">Kevin Simcoe</span>
      <span class="StaffGallery-title">North Knox Groups Pastor</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/brad-ervin/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/brad-ervin-1.jpg');"></span>
      <span class="StaffGallery-name">Brad Ervin</span>
      <span class="StaffGallery-title">Pastor of Outreach and Missions</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/kelsey-arnold/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/kelsey-arnold-1.jpg');"></span>
      <span class="StaffGallery-name">Kelsey Arnold</span>
      <span class="StaffGallery-title">Assistant to the Pastor of Outreach and Missions</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/dustin-scott/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Dustin Scott</span>
      <span class="StaffGallery-title">Pastor of Group Leader Discipleship</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/rick-henry/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Rick Henry</span>
      <span class="StaffGallery-title">Campbell Campus Groups Director</span> </a>
  </li>

  
</ul>





<h2 class="Section-title">Worship Ministry</h2>

<ul class="StaffGallery">
  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/michele-stephens/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/michele-stephens-1.jpg');"></span>
      <span class="StaffGallery-name">Michele Stephens</span>
      <span class="StaffGallery-title">Worship and Creative Arts Leader</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/rachel-duncan/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Rachel Duncan</span>
      <span class="StaffGallery-title">Assistant to Worship and Creative Arts Leader</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/jaclyn-holloway/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/jaclyn-holloway-1.jpg');"></span>
      <span class="StaffGallery-name">Jaclyn Holloway</span>
      <span class="StaffGallery-title">Assistant to the Worship and Creative Arts Leader</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/brandon-dunford/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Brandon Dunford</span>
      <span class="StaffGallery-title">North Knox Worship Director</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/travis-spiva/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Travis Spiva</span>
      <span class="StaffGallery-title">Campbell Worship Pastor</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/micah-stephens/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Micah Stephens</span>
      <span class="StaffGallery-title">Creative Director</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/adam-chapman/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Adam Chapman</span>
      <span class="StaffGallery-title">Video Project Manager</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/jordan-peltz/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Jordan Peltz</span>
      <span class="StaffGallery-title">Video Project Support</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/emily-carringer/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/emily-carringer-1.jpg');"></span>
      <span class="StaffGallery-name">Emily Carringer</span>
      <span class="StaffGallery-title">Worship Programming Director</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/justin-petrowski/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/justin-petrowski-1.jpg');"></span>
      <span class="StaffGallery-name">Justin Petrowski</span>
      <span class="StaffGallery-title">Worship Ministry Associate</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/tanner-dalton/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Tanner Dalton</span>
      <span class="StaffGallery-title">Central Worship Associate</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/zach-carringer/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Zach Carringer</span>
      <span class="StaffGallery-title">Worship Intern</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/john-adams/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">John Adams</span>
      <span class="StaffGallery-title">Blount Campus Worship Pastor</span> </a>
  </li>

  
</ul>





<h2 class="Section-title">Leadership Development and Stewardship</h2>

<ul class="StaffGallery">
  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/chuck-carringer/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/chuck-carringer-1.jpg');"></span>
      <span class="StaffGallery-name">Dr. Chuck Carringer</span>
      <span class="StaffGallery-title">Pastor of Leadership Development & Stewardship</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/jennifer-rose/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Jennifer Rose</span>
      <span class="StaffGallery-title">Assistant to the Pastor of Leadership Development & Stewardship</span> </a>
  </li>

  
</ul>





<h2 class="Section-title">Administration</h2>

<ul class="StaffGallery">
  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/josh-whitehead/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/josh-whitehead-1.jpg');"></span>
      <span class="StaffGallery-name">Dr. Josh Whitehead</span>
      <span class="StaffGallery-title">Executive Pastor</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/gloria-petrowski/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/gloria-petrowski-1.jpg');"></span>
      <span class="StaffGallery-name">Gloria Petrowski</span>
      <span class="StaffGallery-title">Assistant to the Senior Pastor</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/marti-willen/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/marti-willen-1.jpg');"></span>
      <span class="StaffGallery-name">Marti Willen</span>
      <span class="StaffGallery-title">Assistant to the Executive Pastor & First Impressions Director</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/aaron-goin/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/aaron-goin-1.jpg');"></span>
      <span class="StaffGallery-name">Aaron Goin</span>
      <span class="StaffGallery-title">Chief Financial Officer</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/deneen-lambert/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/deneen-lambert-1.jpg');"></span>
      <span class="StaffGallery-name">Deneen Lambert</span>
      <span class="StaffGallery-title">Assistant to the Chief Financial Officer</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/mallory-ellis/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/mallory-ellis-1.jpg');"></span>
      <span class="StaffGallery-name">Mallory Ellis</span>
      <span class="StaffGallery-title">Accounting Director & Human Resources Director</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/kyle-gilbert/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/kyle-gilbert-1.jpg');"></span>
      <span class="StaffGallery-name">Kyle Gilbert</span>
      <span class="StaffGallery-title">Pastor of Communications & Internet Campus Pastor</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/heather-burson/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/heather-burson-1.jpg');"></span>
      <span class="StaffGallery-name">Heather Burson</span>
      <span class="StaffGallery-title">Graphic Designer</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/brad-roberts/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Brad Roberts</span>
      <span class="StaffGallery-title">Web Developer</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/miles-creasman/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/miles-creasman-1.jpg');"></span>
      <span class="StaffGallery-name">Miles Creasman</span>
      <span class="StaffGallery-title">Next Steps Pastor/Blount Groups Pastor</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/macy-deel/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/macy-deel-1.jpg');"></span>
      <span class="StaffGallery-name">Macy Deel</span>
      <span class="StaffGallery-title">Next Steps Assistant</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/brenda-moore/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/brenda-moore-1.jpg');"></span>
      <span class="StaffGallery-name">Brenda Moore</span>
      <span class="StaffGallery-title">Receptionist</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/joe-filipowicz/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/joe-filipowicz-1.jpg');"></span>
      <span class="StaffGallery-name">Joe Filipowicz</span>
      <span class="StaffGallery-title">IT Director</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/jeff-rose/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/jeff-rose-1.jpg');"></span>
      <span class="StaffGallery-name">Jeff Rose</span>
      <span class="StaffGallery-title">Building Services Director</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/ann-slimp/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Ann Slimp</span>
      <span class="StaffGallery-title">Staff Counselor</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/sara-fulton/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/sara-fulton-1.jpg');"></span>
      <span class="StaffGallery-name">Sara Fulton</span>
      <span class="StaffGallery-title">Staff Counselor</span> </a>
  </li>

  
</ul>

