



<h2 class="Section-title">Anderson Campus</h2>

<ul class="StaffGallery">
  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/sid-spiva/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/sid-spiva-1.jpg');"></span>
      <span class="StaffGallery-name">Sid Spiva (1)</span>
      <span class="StaffGallery-title">Anderson Campus Pastor</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/tom-conley/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Tom Conley (3)</span>
      <span class="StaffGallery-title">Anderson Campus Groups Pastor</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/charlie-white/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Charlie White (5)</span>
      <span class="StaffGallery-title">Anderson Campus fpKids Director</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/ryan-silowski/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/ryan-silowski-1.jpg');"></span>
      <span class="StaffGallery-name">Ryan Silowski (10)</span>
      <span class="StaffGallery-title">Anderson Campus Student Pastor</span> </a>
  </li>

  
</ul>





<h2 class="Section-title">Blount Campus</h2>

<ul class="StaffGallery">
  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/matt-grimes/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/matt-grimes-1.jpg');"></span>
      <span class="StaffGallery-name">Matt Grimes (1)</span>
      <span class="StaffGallery-title">Blount Campus Pastor</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/john-adams/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">John Adams (7)</span>
      <span class="StaffGallery-title">Blount Campus Worship Pastor</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/miles-creasman/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/miles-creasman-1.jpg');"></span>
      <span class="StaffGallery-name">Miles Creasman (34)</span>
      <span class="StaffGallery-title">Next Steps Pastor/Blount Groups Pastor</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/hope-hall/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/hope-hall-1.jpg');"></span>
      <span class="StaffGallery-name">Hope Hall (40)</span>
      <span class="StaffGallery-title">fpKids Elementary Director</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/aimee-fair/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Aimee Fair (41)</span>
      <span class="StaffGallery-title">fpKids Preschool Director</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/michelle-hearon/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Michelle Hearon (50)</span>
      <span class="StaffGallery-title">Blount Campus Administrative Assistant</span> </a>
  </li>

  
</ul>





<h2 class="Section-title">Campbell Campus</h2>

<ul class="StaffGallery">
  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/chad-funk/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/chad-funk-1.jpg');"></span>
      <span class="StaffGallery-name">Chad Funk (1)</span>
      <span class="StaffGallery-title">Campbell Campus Pastor</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/travis-spiva/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Travis Spiva (2)</span>
      <span class="StaffGallery-title">Campbell Worship Pastor</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/suzanne-spiva/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Suzanne Spiva (5)</span>
      <span class="StaffGallery-title">Campbell Campus fpKids Director</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/rick-henry/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Rick Henry (6)</span>
      <span class="StaffGallery-title">Campbell Campus Groups Director</span> </a>
  </li>

  
</ul>





<h2 class="Section-title">North Knox Campus</h2>

<ul class="StaffGallery">
  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/noah-case/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Noah Case (3)</span>
      <span class="StaffGallery-title">North Knox Student Pastor</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/mike-baker/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Mike Baker (3)</span>
      <span class="StaffGallery-title">North Knoxville Campus Pastor</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/kandice-baker/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/kandice-baker-1.jpg');"></span>
      <span class="StaffGallery-name">Kandice Baker (8)</span>
      <span class="StaffGallery-title">North Knoxville Campus fpKids Director</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/brandon-dunford/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Brandon Dunford (10)</span>
      <span class="StaffGallery-title">North Knox Worship Director</span> </a>
  </li>

  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/kevin-simcoe/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/kevin-simcoe-1.jpg');"></span>
      <span class="StaffGallery-name">Kevin Simcoe (100)</span>
      <span class="StaffGallery-title">North Knox Groups Pastor</span> </a>
  </li>

  
</ul>





<h2 class="Section-title">Internet Campus</h2>

<ul class="StaffGallery">
  

  
  

  <li class="StaffGallery-item">
    <a class="StaffGallery-infoWrap" href="/staff/kyle-gilbert/">
      <span class="StaffGallery-photo" style="background-image:url('/build/images/staff/kyle-gilbert-1.jpg');"></span>
      <span class="StaffGallery-name">Kyle Gilbert (32)</span>
      <span class="StaffGallery-title">Pastor of Communications & Internet Campus Pastor</span> </a>
  </li>

  
</ul>





<h2 class="Section-title">Pellissippi Campus</h2>

<ul class="StaffGallery">
  
</ul>

