



<h2 class="Section-title">Anderson Campus</h2>

<ul class="StaffGallery">
  

  

  

  

  

  

  

  
  <li class="StaffGallery-item">

    

    

    <a class="StaffGallery-infoWrap" href="/staff/sid-spiva/">
      <span class="StaffGallery-photo" style="background-image:url('/assets/images/staff/sid-spiva-1.jpg');"></span>
      <span class="StaffGallery-name">Sid Spiva</span>
      <span class="StaffGallery-title">Anderson Campus Pastor</span> </a>
  </li>
  

  

  

  

  

  

  
  <li class="StaffGallery-item">

    

    
    
    

    <a class="StaffGallery-infoWrap" href="/staff/tom-conley/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Tom Conley</span>
      <span class="StaffGallery-title">Anderson Campus Groups Pastor</span> </a>
  </li>
  

  

  

  

  

  

  

  

  
  <li class="StaffGallery-item">

    

    
    
    

    <a class="StaffGallery-infoWrap" href="/staff/charlie-white/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Charlie White</span>
      <span class="StaffGallery-title">Anderson Campus fpKids Director</span> </a>
  </li>
  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  
  <li class="StaffGallery-item">

    

    

    <a class="StaffGallery-infoWrap" href="/staff/ryan-silowski/">
      <span class="StaffGallery-photo" style="background-image:url('/assets/images/staff/ryan-silowski-1.jpg');"></span>
      <span class="StaffGallery-name">Ryan Silowski</span>
      <span class="StaffGallery-title">Anderson Campus Student Pastor</span> </a>
  </li>
  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  
</ul>



<h2 class="Section-title">Blount Campus</h2>

<ul class="StaffGallery">
  

  
  <li class="StaffGallery-item">

    

    

    <a class="StaffGallery-infoWrap" href="/staff/matt-grimes/">
      <span class="StaffGallery-photo" style="background-image:url('/assets/images/staff/matt-grimes-1.jpg');"></span>
      <span class="StaffGallery-name">Matt Grimes</span>
      <span class="StaffGallery-title">Blount Campus Pastor</span> </a>
  </li>
  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  
  <li class="StaffGallery-item">

    

    
    
    

    <a class="StaffGallery-infoWrap" href="/staff/john-adams/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">John Adams</span>
      <span class="StaffGallery-title">Blount Campus Worship Pastor</span> </a>
  </li>
  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  
  <li class="StaffGallery-item">

    

    

    <a class="StaffGallery-infoWrap" href="/staff/miles-creasman/">
      <span class="StaffGallery-photo" style="background-image:url('/assets/images/staff/miles-creasman-1.jpg');"></span>
      <span class="StaffGallery-name">Miles Creasman</span>
      <span class="StaffGallery-title">Next Steps Pastor/Blount Groups Pastor</span> </a>
  </li>
  

  

  

  

  

  

  

  

  

  

  
  <li class="StaffGallery-item">

    

    

    <a class="StaffGallery-infoWrap" href="/staff/hope-hall/">
      <span class="StaffGallery-photo" style="background-image:url('/assets/images/staff/hope-hall-1.jpg');"></span>
      <span class="StaffGallery-name">Hope Hall</span>
      <span class="StaffGallery-title">fpKids Elementary Director</span> </a>
  </li>
  

  

  
  <li class="StaffGallery-item">

    

    
    
    

    <a class="StaffGallery-infoWrap" href="/staff/aimee-fair/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Aimee Fair</span>
      <span class="StaffGallery-title">fpKids Preschool Director</span> </a>
  </li>
  

  

  

  

  

  

  

  

  
  <li class="StaffGallery-item">

    

    
    
    

    <a class="StaffGallery-infoWrap" href="/staff/michelle-hearon/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Michelle Hearon</span>
      <span class="StaffGallery-title">Blount Campus Administrative Assistant</span> </a>
  </li>
  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  
</ul>



<h2 class="Section-title">Campbell Campus</h2>

<ul class="StaffGallery">
  

  

  

  

  

  
  <li class="StaffGallery-item">

    

    

    <a class="StaffGallery-infoWrap" href="/staff/chad-funk/">
      <span class="StaffGallery-photo" style="background-image:url('/assets/images/staff/chad-funk-1.jpg');"></span>
      <span class="StaffGallery-name">Chad Funk</span>
      <span class="StaffGallery-title">Campbell Campus Pastor</span> </a>
  </li>
  

  

  

  

  
  <li class="StaffGallery-item">

    

    
    
    

    <a class="StaffGallery-infoWrap" href="/staff/travis-spiva/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Travis Spiva</span>
      <span class="StaffGallery-title">Campbell Worship Pastor</span> </a>
  </li>
  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  
  <li class="StaffGallery-item">

    

    
    
    

    <a class="StaffGallery-infoWrap" href="/staff/suzanne-spiva/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Suzanne Spiva</span>
      <span class="StaffGallery-title">Campbell Campus fpKids Director</span> </a>
  </li>
  

  

  

  

  
  <li class="StaffGallery-item">

    

    
    
    

    <a class="StaffGallery-infoWrap" href="/staff/rick-henry/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Rick Henry</span>
      <span class="StaffGallery-title">Campbell Campus Groups Director</span> </a>
  </li>
  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  
</ul>



<h2 class="Section-title">North Knox Campus</h2>

<ul class="StaffGallery">
  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  
  <li class="StaffGallery-item">

    

    
    
    

    <a class="StaffGallery-infoWrap" href="/staff/mike-baker/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Mike Baker</span>
      <span class="StaffGallery-title">North Knoxville Campus Pastor</span> </a>
  </li>
  

  

  
  <li class="StaffGallery-item">

    

    
    
    

    <a class="StaffGallery-infoWrap" href="/staff/noah-case/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Noah Case</span>
      <span class="StaffGallery-title">North Knox Student Pastor</span> </a>
  </li>
  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  
  <li class="StaffGallery-item">

    

    

    <a class="StaffGallery-infoWrap" href="/staff/kandice-baker/">
      <span class="StaffGallery-photo" style="background-image:url('/assets/images/staff/kandice-baker-1.jpg');"></span>
      <span class="StaffGallery-name">Kandice Baker</span>
      <span class="StaffGallery-title">North Knoxville Campus fpKids Director</span> </a>
  </li>
  

  

  

  

  

  

  

  

  
  <li class="StaffGallery-item">

    

    
    
    

    <a class="StaffGallery-infoWrap" href="/staff/brandon-dunford/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Brandon Dunford</span>
      <span class="StaffGallery-title">North Knox Worship Director</span> </a>
  </li>
  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  
  <li class="StaffGallery-item">

    

    

    <a class="StaffGallery-infoWrap" href="/staff/kevin-simcoe/">
      <span class="StaffGallery-photo" style="background-image:url('/assets/images/staff/kevin-simcoe-1.jpg');"></span>
      <span class="StaffGallery-name">Kevin Simcoe</span>
      <span class="StaffGallery-title">North Knox Groups Pastor</span> </a>
  </li>
  

  

  

  

  

  

  

  
</ul>



<h2 class="Section-title">Internet Campus</h2>

<ul class="StaffGallery">
  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  
  <li class="StaffGallery-item">

    

    

    <a class="StaffGallery-infoWrap" href="/staff/kyle-gilbert/">
      <span class="StaffGallery-photo" style="background-image:url('/assets/images/staff/kyle-gilbert-1.jpg');"></span>
      <span class="StaffGallery-name">Kyle Gilbert</span>
      <span class="StaffGallery-title">Pastor of Communications & Internet Campus Pastor</span> </a>
  </li>
  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  
</ul>



<h2 class="Section-title">Pellissippi Campus</h2>

<ul class="StaffGallery">
  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  
  <li class="StaffGallery-item">

    

    

    <a class="StaffGallery-infoWrap" href="/staff/chuck-carringer/">
      <span class="StaffGallery-photo" style="background-image:url('/assets/images/staff/chuck-carringer-1.jpg');"></span>
      <span class="StaffGallery-name">Dr. Chuck Carringer</span>
      <span class="StaffGallery-title">Pastor of Leadership Development & Stewardship</span> </a>
  </li>
  

  

  

  

  

  

  
  <li class="StaffGallery-item">

    

    

    <a class="StaffGallery-infoWrap" href="/staff/jaclyn-holloway/">
      <span class="StaffGallery-photo" style="background-image:url('/assets/images/staff/jaclyn-holloway-1.jpg');"></span>
      <span class="StaffGallery-name">Jaclyn Holloway</span>
      <span class="StaffGallery-title">Assistant to the Worship and Creative Arts Leader</span> </a>
  </li>
  

  

  

  

  

  

  
  <li class="StaffGallery-item">

    

    

    <a class="StaffGallery-infoWrap" href="/staff/gloria-petrowski/">
      <span class="StaffGallery-photo" style="background-image:url('/assets/images/staff/gloria-petrowski-1.jpg');"></span>
      <span class="StaffGallery-name">Gloria Petrowski</span>
      <span class="StaffGallery-title">Assistant to the Senior Pastor</span> </a>
  </li>
  

  

  

  

  
  <li class="StaffGallery-item">

    

    

    <a class="StaffGallery-infoWrap" href="/staff/marti-willen/">
      <span class="StaffGallery-photo" style="background-image:url('/assets/images/staff/marti-willen-1.jpg');"></span>
      <span class="StaffGallery-name">Marti Willen</span>
      <span class="StaffGallery-title">Assistant to the Executive Pastor & First Impressions Director</span> </a>
  </li>
  

  

  

  

  

  

  

  

  
  <li class="StaffGallery-item">

    

    

    <a class="StaffGallery-infoWrap" href="/staff/jamie-davis/">
      <span class="StaffGallery-photo" style="background-image:url('/assets/images/staff/jamie-davis-1.jpg');"></span>
      <span class="StaffGallery-name">Jamie Davis</span>
      <span class="StaffGallery-title">fpKids Team Administrator</span> </a>
  </li>
  

  

  

  

  

  

  

  

  

  

  

  

  
  <li class="StaffGallery-item">

    

    

    <a class="StaffGallery-infoWrap" href="/staff/mallory-ellis/">
      <span class="StaffGallery-photo" style="background-image:url('/assets/images/staff/mallory-ellis-1.jpg');"></span>
      <span class="StaffGallery-name">Mallory Ellis</span>
      <span class="StaffGallery-title">Accounting Director & Human Resources Director</span> </a>
  </li>
  

  

  
  <li class="StaffGallery-item">

    

    
    
    

    <a class="StaffGallery-infoWrap" href="/staff/tiffany-reid/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Tiffany Reid</span>
      <span class="StaffGallery-title">fpKids Team Administrator</span> </a>
  </li>
  

  

  
  <li class="StaffGallery-item">

    

    
    
    

    <a class="StaffGallery-infoWrap" href="/staff/jennifer-spencer/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Jennifer Spencer</span>
      <span class="StaffGallery-title">Volunteer Coordinator of Support Teams</span> </a>
  </li>
  

  

  

  

  
  <li class="StaffGallery-item">

    

    
    
    

    <a class="StaffGallery-infoWrap" href="/staff/annalee-peltz/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">AnnaLee Peltz</span>
      <span class="StaffGallery-title">Volunteer Coordinator-Elementary Small Groups</span> </a>
  </li>
  

  

  
  <li class="StaffGallery-item">

    

    

    <a class="StaffGallery-infoWrap" href="/staff/emily-carringer/">
      <span class="StaffGallery-photo" style="background-image:url('/assets/images/staff/emily-carringer-1.jpg');"></span>
      <span class="StaffGallery-name">Emily Carringer</span>
      <span class="StaffGallery-title">Worship Programming Director</span> </a>
  </li>
  

  

  
  <li class="StaffGallery-item">

    

    

    <a class="StaffGallery-infoWrap" href="/staff/justin-petrowski/">
      <span class="StaffGallery-photo" style="background-image:url('/assets/images/staff/justin-petrowski-1.jpg');"></span>
      <span class="StaffGallery-name">Justin Petrowski</span>
      <span class="StaffGallery-title">Worship Ministry Associate</span> </a>
  </li>
  

  

  

  

  

  

  

  

  

  

  
  <li class="StaffGallery-item">

    

    

    <a class="StaffGallery-infoWrap" href="/staff/jody-kenyon/">
      <span class="StaffGallery-photo" style="background-image:url('/assets/images/staff/jody-kenyon-1.jpg');"></span>
      <span class="StaffGallery-name">Jody Kenyon</span>
      <span class="StaffGallery-title">Group Ministries</span> </a>
  </li>
  

  

  

  

  
  <li class="StaffGallery-item">

    

    

    <a class="StaffGallery-infoWrap" href="/staff/macy-deel/">
      <span class="StaffGallery-photo" style="background-image:url('/assets/images/staff/macy-deel-1.jpg');"></span>
      <span class="StaffGallery-name">Macy Deel</span>
      <span class="StaffGallery-title">Next Steps Assistant</span> </a>
  </li>
  

  

  
  <li class="StaffGallery-item">

    

    

    <a class="StaffGallery-infoWrap" href="/staff/jennifer-patrick/">
      <span class="StaffGallery-photo" style="background-image:url('/assets/images/staff/jennifer-patrick-1.jpg');"></span>
      <span class="StaffGallery-name">Jennifer Patrick</span>
      <span class="StaffGallery-title">Group Assimilation Coordinator</span> </a>
  </li>
  

  

  

  

  
  <li class="StaffGallery-item">

    

    
    
    

    <a class="StaffGallery-infoWrap" href="/staff/rob-patrick/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Rob Patrick</span>
      <span class="StaffGallery-title">Pellissippi Campus Groups Pastor</span> </a>
  </li>
  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  

  
  <li class="StaffGallery-item">

    

    
    
    

    <a class="StaffGallery-infoWrap" href="/staff/tonja-breaux/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Tonja Breaux</span>
      <span class="StaffGallery-title">Student Ministry Assistant</span> </a>
  </li>
  

  

  
  <li class="StaffGallery-item">

    

    
    
    

    <a class="StaffGallery-infoWrap" href="/staff/chris-looper/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Chris Looper</span>
      <span class="StaffGallery-title">fpStudents Venue & Creative Director</span> </a>
  </li>
  

  

  
  <li class="StaffGallery-item">

    

    
    
    

    <a class="StaffGallery-infoWrap" href="/staff/dustin-scott/">
      <span class="StaffGallery-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
      <span class="StaffGallery-name">Dustin Scott</span>
      <span class="StaffGallery-title">Pastor of Group Leader Discipleship</span> </a>
  </li>
  

  

  
  <li class="StaffGallery-item">

    

    

    <a class="StaffGallery-infoWrap" href="/staff/jeff-rose/">
      <span class="StaffGallery-photo" style="background-image:url('/assets/images/staff/jeff-rose-1.jpg');"></span>
      <span class="StaffGallery-name">Jeff Rose</span>
      <span class="StaffGallery-title">Building Services Director</span> </a>
  </li>
  

  

  

  

  

  

  

  

  

  
</ul>

