

<h2 class="Section-title">Staff Directory</h2>

<table class="StaffList">
  <tbody>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/aaron-goin/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/aaron-goin-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Aaron Goin</span>
      <span class="StaffList-title">Chief Financial Officer</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1602
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://AaronG@faithpromise.org">AaronG@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/adam-chapman/';">
       
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Adam Chapman</span>
      <span class="StaffList-title">Video Project Manager</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://AdamC@faithpromise.org">AdamC@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/aimee-fair/';">
       
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Aimee Fair</span>
      <span class="StaffList-title">fpKids Preschool Director</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://AimeeF@faithpromise.org">AimeeF@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/ann-slimp/';">
       
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Ann Slimp</span>
      <span class="StaffList-title">Staff Counselor</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://AnnS@faithpromise.org">AnnS@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/annalee-peltz/';">
       
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">AnnaLee Peltz</span>
      <span class="StaffList-title">Volunteer Coordinator-Elementary Small Groups</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1201
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://AnnaLeeP@faithpromise.org">AnnaLeeP@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/brad-ervin/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/brad-ervin-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Brad Ervin</span>
      <span class="StaffList-title">Pastor of Outreach and Missions</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1405
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://BradE@faithpromise.org">BradE@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/brad-roberts/';">
       
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Brad Roberts</span>
      <span class="StaffList-title">Web Developer</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://BradR@faithpromise.org">BradR@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/brandon-dunford/';">
       
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Brandon Dunford</span>
      <span class="StaffList-title">North Knox Worship Director</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://BrandonD@faithpromise.org">BrandonD@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/brenda-moore/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/brenda-moore-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Brenda Moore</span>
      <span class="StaffList-title">Receptionist</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1000
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://BrendaM@faithpromise.org">BrendaM@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/chad-funk/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/chad-funk-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Chad Funk</span>
      <span class="StaffList-title">Campbell Campus Pastor</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1410
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://ChadF@faithpromise.org">ChadF@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/charlie-white/';">
       
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Charlie White</span>
      <span class="StaffList-title">Anderson Campus fpKids Director</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://CharlieW@faithpromise.org">CharlieW@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/chris-stephens/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/chris-stephens-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Dr. Chris Stephens</span>
      <span class="StaffList-title">Senior Pastor</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 2000
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://Pastor@faithpromise.org">Pastor@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/chris-looper/';">
       
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Chris Looper</span>
      <span class="StaffList-title">fpStudents Venue & Creative Director</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1300
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://ChrisL@faithpromise.org">ChrisL@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/chuck-carringer/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/chuck-carringer-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Dr. Chuck Carringer</span>
      <span class="StaffList-title">Pastor of Leadership Development & Stewardship</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1101
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://ChuckC@faithpromise.org">ChuckC@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/deneen-lambert/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/deneen-lambert-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Deneen Lambert</span>
      <span class="StaffList-title">Assistant to the Chief Financial Officer</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1600
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://DeneenL@faithpromise.org">DeneenL@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/dustin-scott/';">
       
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Dustin Scott</span>
      <span class="StaffList-title">Pastor of Group Leader Discipleship</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1302
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://DustinS@faithpromise.org">DustinS@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/emily-carringer/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/emily-carringer-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Emily Carringer</span>
      <span class="StaffList-title">Worship Programming Director</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1500
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://EmilyC@faithpromise.org">EmilyC@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/gina-mcclain/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/gina-mcclain-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Gina McClain</span>
      <span class="StaffList-title">Pastor of Children's Ministries</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1204
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://GinaM@faithpromise.org">GinaM@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/gloria-petrowski/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/gloria-petrowski-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Gloria Petrowski</span>
      <span class="StaffList-title">Assistant to the Senior Pastor</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 2000
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://GloriaP@faithpromise.org">GloriaP@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/heather-burson/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/heather-burson-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Heather Burson</span>
      <span class="StaffList-title">Graphic Designer</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1014
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://HeatherB@faithpromise.org">HeatherB@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/hope-hall/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/hope-hall-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Hope Hall</span>
      <span class="StaffList-title">fpKids Elementary Director</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://HopeH@faithpromise.org">HopeH@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/jaclyn-holloway/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/jaclyn-holloway-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Jaclyn Holloway</span>
      <span class="StaffList-title">Assistant to the Worship and Creative Arts Leader</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1503
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://JaclynH@faithpromise.org">JaclynH@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/jamie-davis/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/jamie-davis-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Jamie Davis</span>
      <span class="StaffList-title">fpKids Team Administrator</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1203
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://JamieD@faithpromise.org">JamieD@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/jeff-rose/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/jeff-rose-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Jeff Rose</span>
      <span class="StaffList-title">Building Services Director</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1703
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://JeffR@faithpromise.org">JeffR@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/jennifer-patrick/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/jennifer-patrick-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Jennifer Patrick</span>
      <span class="StaffList-title">Group Assimilation Coordinator</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1403
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://JenniferP@faithpromise.org">JenniferP@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/jennifer-rose/';">
       
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Jennifer Rose</span>
      <span class="StaffList-title">Assistant to the Pastor of Leadership Development & Stewardship</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1100
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://JenniferR@faithpromise.org">JenniferR@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/jennifer-spencer/';">
       
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Jennifer Spencer</span>
      <span class="StaffList-title">Volunteer Coordinator of Support Teams</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1402
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://JenniferS@faithpromise.org">JenniferS@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/jody-kenyon/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/jody-kenyon-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Jody Kenyon</span>
      <span class="StaffList-title">Group Ministries</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1400
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://JodyK@faithpromise.org">JodyK@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/joe-filipowicz/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/joe-filipowicz-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Joe Filipowicz</span>
      <span class="StaffList-title">IT Director</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1605
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://JoeF@faithpromise.org">JoeF@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/john-adams/';">
       
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">John Adams</span>
      <span class="StaffList-title">Blount Campus Worship Pastor</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1506
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://JohnA@faithpromise.org">JohnA@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/jordan-peltz/';">
       
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Jordan Peltz</span>
      <span class="StaffList-title">Video Project Support</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://JordanP@faithpromise.org">JordanP@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/josh-whitehead/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/josh-whitehead-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Dr. Josh Whitehead</span>
      <span class="StaffList-title">Executive Pastor</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1701
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://JoshW@faithpromise.org">JoshW@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/justin-petrowski/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/justin-petrowski-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Justin Petrowski</span>
      <span class="StaffList-title">Worship Ministry Associate</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1502
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://JustinP@faithpromise.org">JustinP@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/kandice-baker/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/kandice-baker-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Kandice Baker</span>
      <span class="StaffList-title">North Knoxville Campus fpKids Director</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1103
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://KandiceB@faithpromise.org">KandiceB@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/kelsey-arnold/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/kelsey-arnold-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Kelsey Arnold</span>
      <span class="StaffList-title">Assistant to the Pastor of Outreach and Missions</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1408
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://KelseyA@faithpromise.org">KelseyA@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/kevin-simcoe/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/kevin-simcoe-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Kevin Simcoe</span>
      <span class="StaffList-title">North Knox Groups Pastor</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1411
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://KevinS@faithpromise.org">KevinS@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/kyle-gilbert/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/kyle-gilbert-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Kyle Gilbert</span>
      <span class="StaffList-title">Pastor of Communications & Internet Campus Pastor</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1704
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://KyleG@faithpromise.org">KyleG@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/macy-deel/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/macy-deel-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Macy Deel</span>
      <span class="StaffList-title">Next Steps Assistant</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1711
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://MacyD@faithpromise.org">MacyD@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/mallory-ellis/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/mallory-ellis-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Mallory Ellis</span>
      <span class="StaffList-title">Accounting Director & Human Resources Director</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1603
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://MalloryE@faithpromise.org">MalloryE@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/marti-willen/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/marti-willen-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Marti Willen</span>
      <span class="StaffList-title">Assistant to the Executive Pastor & First Impressions Director</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1700
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://MartiW@faithpromise.org">MartiW@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/matt-grimes/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/matt-grimes-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Matt Grimes</span>
      <span class="StaffList-title">Blount Campus Pastor</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1706
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://MattG@faithpromise.org">MattG@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/micah-stephens/';">
       
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Micah Stephens</span>
      <span class="StaffList-title">Creative Director</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://MicahS@faithpromise.org">MicahS@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/michele-stephens/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/michele-stephens-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Michele Stephens</span>
      <span class="StaffList-title">Worship and Creative Arts Leader</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1501
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://MicheleS@faithpromise.org">MicheleS@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/michelle-hearon/';">
       
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Michelle Hearon</span>
      <span class="StaffList-title">Blount Campus Administrative Assistant</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://MichelleH@faithpromise.org">MichelleH@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/mike-baker/';">
       
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Mike Baker</span>
      <span class="StaffList-title">North Knoxville Campus Pastor</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1708
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://MikeB@faithpromise.org">MikeB@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/miles-creasman/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/miles-creasman-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Miles Creasman</span>
      <span class="StaffList-title">Next Steps Pastor/Blount Groups Pastor</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1005
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://MilesC@faithpromise.org">MilesC@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/noah-case/';">
       
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Noah Case</span>
      <span class="StaffList-title">North Knox Student Pastor</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1306
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://NoahC@faitpromise.org">NoahC@faitpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/rachel-duncan/';">
       
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Rachel Duncan</span>
      <span class="StaffList-title">Assistant to Worship and Creative Arts Leader</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1508
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://RachelD@faithpromise.org">RachelD@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/rick-henry/';">
       
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Rick Henry</span>
      <span class="StaffList-title">Campbell Campus Groups Director</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://RickH@faithpromise.org">RickH@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/rob-patrick/';">
       
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Rob Patrick</span>
      <span class="StaffList-title">Pellissippi Campus Groups Pastor</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1005
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://RobP@faithpromise.org">RobP@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/ryan-silowski/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/ryan-silowski-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Ryan Silowski</span>
      <span class="StaffList-title">Anderson Campus Student Pastor</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://RyanS@faithpromise.org">RyanS@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/sara-fulton/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/sara-fulton-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Sara Fulton</span>
      <span class="StaffList-title">Staff Counselor</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://SaraF@faithpromise.org">SaraF@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/sid-spiva/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/sid-spiva-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Sid Spiva</span>
      <span class="StaffList-title">Anderson Campus Pastor</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://SidS@faithpromise.org">SidS@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/suzanne-spiva/';">
       
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Suzanne Spiva</span>
      <span class="StaffList-title">Campbell Campus fpKids Director</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://SuzanneS@faithpromise.org">SuzanneS@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/tanner-dalton/';">
       
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Tanner Dalton</span>
      <span class="StaffList-title">Central Worship Associate</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1507
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://TannerD@faithpromise.org">TannerD@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/tiffany-reid/';">
       
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Tiffany Reid</span>
      <span class="StaffList-title">fpKids Team Administrator</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1205
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://TiffanyR@faithpromise.org">TiffanyR@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/tom-conley/';">
       
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Tom Conley</span>
      <span class="StaffList-title">Anderson Campus Groups Pastor</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://tom4biz3@comcast.net">tom4biz3@comcast.net</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/tonja-breaux/';">
       
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Tonja Breaux</span>
      <span class="StaffList-title">Student Ministry Assistant</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1305
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://TonjaB@faithpromise.org">TonjaB@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/travis-spiva/';">
       
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Travis Spiva</span>
      <span class="StaffList-title">Campbell Worship Pastor</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://TravisS@faithpromise.org">TravisS@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/zac-stephens/';">
     
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('/assets/images/staff/zac-stephens-1.jpg');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Zac Stephens</span>
      <span class="StaffList-title">Pastor of Student Ministries/Pellissippi Campus Student Pastor</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      865-251-2590 x 1304
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://ZacS@faithpromise.org">ZacS@faithpromise.org</a>
    </td>
  </tr>
  
  <tr class="StaffList-row" onclick="window.document.location='/staff/zach-carringer/';">
       
    <td class="StaffList-column StaffList-column--photo">
      <span class="StaffList-photo" style="background-image:url('https://placekitten.com/g/200/300');"></span>
    </td>
    <td class="StaffList-column StaffList-column--name">
      <span class="StaffList-name">Zach Carringer</span>
      <span class="StaffList-title">Worship Intern</span>
    </td>
    <td class="StaffList-column StaffList-column--phone">
      
    </td>
    <td class="StaffList-column StaffList-column--email">
      <a href="mailto://ZachC@faithpromise.org">ZachC@faithpromise.org</a>
    </td>
  </tr>
  
  </tbody>
</table>