---
layout: default
title: Sermons
permalink: /sermons/
nav_style: solid
---

<!-- Series -->
{% assign series = site.series | sort: 'publish_on' | reverse %}
{% assign current_series = series | first %}

<!-- Latest sermon -->
{% assign latest_sermon = site.videos | where:'type', 'sermon' | sort: 'publish_on' | reverse | first %}

<!-- Series the latest sermon belongs to -->
{% assign latest_sermon_series = site.series | where:'ident', latest_sermon.series | first %}

<!-- Output hero -->
{% include hero-video.html video=latest_sermon series=latest_sermon_series heading='Latest Sermon:' %}

<div class="Content" content-scroll>

  <div class="Container">

    <!--<h2 class="Section-title">Current Series</h2>-->
    <!--<img class="CurrentSeries-thumb" src="{{ site.paths.series_images}}{{ current_series.ident }}-square.jpg">-->

    <h2 class="Section-title">Recent Series</h2>

  </div>

  <div class="SeriesGallery">
    <ul class="SeriesGallery-list">
      {% assign counter = 1 %}
      {% for item in series %}
      {% if counter > 0 %}
      <li class="SeriesGallery-item">
        <a class="SeriesGallery-link" href="/series/{{ item.ident }}/">
          <img class="SeriesGallery-thumb" src="{{ site.paths.series_images}}{{ item.ident }}-square.jpg">

          <div class="SeriesGallery-titles">
            <h3 class="SeriesGallery-title">{{ item.title }}</h3>
            <h4 class="SeriesGallery-subtitle">
              {% if item.ident ==current_series.ident %}
              Current series
              {% endif %}

              {% if item.ident != current_series.ident %}
              {% assign videos = site.videos | where:"series", item.ident | sort:"publish_on" %}
              {% assign first_video = videos | first %}
              {{ first_video.publish_on | date: "%b, %Y" }}
              {% if videos.size > 0 %}
              &nbsp;&middot;&nbsp; {{ videos.size }} video{% if videos.size <> 1 %}s{% endif %}
              {% endif %}
              {% endif %}
            </h4>
          </div>
        </a>
      </li>
      {% endif %}
      {% assign counter = counter | plus: 1 %}
      {% endfor %}
    </ul>

  </div>

</div>