---
layout: default
title: Sermons
permalink: /sermons/
nav_style: solid
---

<!-- Series -->
{% assign series = site.series | sort: 'publish_on' | reverse %}
{% assign current_series = series | first %}

<!-- Latest sermon -->
{% assign latest_sermon = site.videos | where:'type', 'sermon' | sort: 'publish_on' | reverse | first %}
{% assign latest_sermon_series = series | where:'series', latest_sermon.series | first %}

<!-- Hero background image -->
{% assign heroImage_wide = '/build/images/temp/banner-placeholder.png' %}
{% assign heroImage_square = '/build/images/temp/banner-placeholder.png' %}
{% if latest_sermon_series.ident %}
  {% capture heroImage_wide %}{{ site.paths.series_images }}{{ series.ident }}-wide.jpg{% endcapture %}
  {% capture heroImage_square %}{{ site.paths.series_images }}{{ series.ident }}-square.jpg{% endcapture %}
{% endif %}

<style type="text/css" scoped>
  .LatestSermon { background-image: url({{ heroImage_square }}); }
  @media (min-aspect-ratio: 5/8) {
    .LatestSermon { background-image: url({{ heroImage_wide }}); }
  }
</style>

<div class="LatestSermon">
  <div class="LatestSermon-container">
    <!--<vimeo id="{{ latest_sermon.vimeo_id }}"></vimeo>-->
    <h2>Latest Sermon</h2>
    {{ latest_sermon.title }}
  </div>
</div>

<!--<div class="Hero Hero--series-{{ series.ident }}"></div>-->

<div class="Content" content-scroll>

  <div class="Container">

    <!--<h2 class="Section-title">Current Series</h2>-->
    <!--<img class="CurrentSeries-thumb" src="{{ site.paths.series_images}}{{ current_series.ident }}-square.jpg">-->

    <h2 class="Section-title">Recent Series</h2>

  </div>

  <div class="SeriesGallery">
    <ul class="SeriesGallery-list">
      {% assign counter = 1 %}
      {% for item in series %}
      {% if counter > 0 %}
      <li class="SeriesGallery-item">
        <a class="SeriesGallery-link" href="/series/{{ item.ident }}/">
          <img class="SeriesGallery-thumb" src="{{ site.paths.series_images}}{{ item.ident }}-square.jpg">

          <div class="SeriesGallery-titles">
            <h3 class="SeriesGallery-title">{{ item.title }}</h3>
            <h4 class="SeriesGallery-subtitle">
              {% if item.ident ==current_series.ident %}
              Current series
              {% endif %}

              {% if item.ident != current_series.ident %}
              {% assign videos = site.videos | where:"series", item.ident | sort:"publish_on" %}
              {% assign first_video = videos | first %}
              {{ first_video.publish_on | date: "%b, %Y" }}
              {% if videos.size > 0 %}
              &nbsp;&middot;&nbsp; {{ videos.size }} video{% if videos.size <> 1 %}s{% endif %}
              {% endif %}
              {% endif %}
            </h4>
          </div>
        </a>
      </li>
      {% endif %}
      {% assign counter = counter | plus: 1 %}
      {% endfor %}
    </ul>

  </div>

</div>