---
layout: page
title: Meet Our Staff
permalink: /staff/
banner_image: /assets/images/banner-placeholder.png
banner_image: /assets/images/temp/banner-pastor.jpg
---

<div class="Container">

  <div class="StaffSort">
    <span class="StaffSort-label">Sort by:</span>
    <span class="StaffSort-option" ng-class="{ 'is-active': !staff_sort_method }" ng-click="staff_sort_method = null">Ministry Area</span>
    <span class="StaffSort-option" ng-class="{ 'is-active': staff_sort_method === 'campus' }" ng-click="staff_sort_method = 'campus'">Campus</span>
    <span class="StaffSort-option" ng-class="{ 'is-active': staff_sort_method === 'name' }" ng-click="staff_sort_method = 'name'">Name</span>
  </div>

  <div ng-show="!staff_sort_method">
    {% include staff-by-team.html %}
  </div>
  <div ng-show="staff_sort_method === 'campus'">
    <ng-include src="'/partials/staff-by-campus.html'"></ng-include>
  </div>
  <div ng-show="staff_sort_method === 'name'">
    <ng-include src="'/partials/staff-by-name.html'"></ng-include>
  </div>
</div>