---
layout: page
title: What to Expect
permalink: /what-to-expect/
hero_image: http://faithpromise.org/assets/banners/what-to-expect.jpg
cards:
  - title: Children
    image: https://dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/fpo/baptism.hero.2to1_2000_1000_90_c1.jpg
    text: "Our children's ministry meets during each adult service. Children learn and grow through large group teaching, crafts, stories, drama, and small group interaction."
    url_text: About fpKids
    url: /fpkids/

  - title: Students
    image: https://dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/fpo/fpo.Fuse.Football2_2000_1000_90_c1.jpg
    text: "6-12th grade students have a chance to grow closer to God and each other in a high-energy atmosphere that will change them each week."
    url_text: About fp Students
    url: /students/

  - title: Worship
    image: https://dg0ddngxdz549.cloudfront.net/images/cached/images/remote/http_s3.amazonaws.com/ns.images/newspring/fpo/fpo.Music4_2000_1000_90_c1.jpg
    text: "Our overall mission and purpose of the Worship Ministry of Faith Promise Church is to provide tools for engaging the hearts of men and women to the heart of God."
    url_text: Worship
    url: /worship/

faq:
  - q: 'What denomination is <span class="no-wrap">Faith Promise</span> Church?'
    a: '<p>Faith Promise Church is an autonomous, self-governing group. We have chosen to participate with other groups of churches for missions, evangelism and support. In this effort, we support missions individually and corporately. (For a listing of our core beliefs, <a href="/beliefs-and-values/">click here</a>.)</p>'

  - q: 'Are the weekend services identical?'
    a: '<p>Yes. Each of the services features the same music and teaching. The only difference is that sign language interpretation is available on Saturdays at 6:00 pm at the Pellissippi campus.</p>'

  - q: 'What should I wear?'
    a: '<p>Faith Promise is very casual. You''ll find people in anything from jeans and t-shirts, shorts and flip-flops, to dresses and dress shirts. Wear whatever makes you the most comfortable.</p>'

  - q: 'Which Bible translation does "Pastor Chris" Stephens use?'
    a: '<p>New American Standard</p>'
---

<!--TODO: Add page content-->

<div class="Content">

  <div class="Section Section--center">
    <div class="Section-container">
      <h2 class="Section-title">What To Expect</h2>
      <div class="Article Article--center Article--compact">
      <p>When you come, the only thing we ask of you is simple... relax. You're with friends. Whether you've never been to church before or you're a seasoned church veteran, you can anticipate an encouraging and enlightening experience.</p>
      </div>
    </div>
  </div>

  <div class="Section Section--lightGrey">
    <div class="Section-container">
      {% include card-grid.html cards=page.cards %}
    </div>
  </div>

  {% include faq.html faq=page.faq %}

</div>
