
{% assign faq_title = 'Common Questions' %}
{% if include.title %}
{% assign faq_title = include.title %}
{% endif %}

<div class="Faq {{ include.class }}">
  <div class="Faq-container">
    <h2 class="Faq-title">{{ faq_title }}</h2>
    <ul class="Faq-grid">
      {% for faq in include.faq %}
      <li class="Faq-item">
        <h3 class="Faq-question">{{ faq.q }}</h3>

        <div class="Faq-answer">
          {{ faq.a }}
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>