<!-- Hero background image -->
{% assign heroImage = '/build/images/staff/chris-stephens-sermon.jpg' %}
{% if include.series.ident %}
{% capture heroImage %}{{ site.paths.series_images }}{{ include.series.ident }}-fade-out.jpg{% endcapture %}
{% endif %}

<style type="text/css" scoped>
  /*.HeroVideo {*/
  /*background-image: url({{ heroImage_square }});*/
  /*}*/

  /*@media (min-aspect-ratio: 5/8) {*/
    /*.HeroVideo-imageWrap {*/
      /*background-image: url({{ heroImage }});*/
    /*}*/
  /*}*/
</style>

<div class="HeroVideo">
  <div class="HeroVideo-container">

    <div class="HeroVideo-playWrap">
      <svg class="HeroVideo-play" role="img" title="Play Video">
        <use xlink:href="/build/images/video.svg#play-big"></use>
      </svg>
    </div>

    <div class="HeroVideo-imageWrap">
      <img class="HeroVideo-image" src="{{ heroImage }}">
    </div>

    <div class="HeroVideo-info">

      {% if include.heading %}
      <h2 class="HeroVideo-heading">{{ include.heading }}</h2>
      {% endif %}
      <h3 class="HeroVideo-title">{{ include.video.title }}</h3>

      <div class="HeroVideo-meta">
        <!--<img class="HeroVideo-thumb" src="{{ site.paths.series_images }}{{ include.series.ident }}-square.jpg">-->
        <!--<img class="HeroVideo-thumb" src="{{ site.paths.staff_images }}{{ include.video.speaker_ident }}-1.jpg">-->
        <div class="HeroVideo-metaText">
          {% if include.video.speaker_name %}
          <span class="HeroVideo-speaker">{{ include.video.speaker_name }}</span>
          <span class="HeroVideo-metaSeparator">&middot;</span>
          {% endif %}
          <span class="HeroVideo-date">{{ include.video.publish_on | date: "%b %d, %Y" }}</span>
          <!--<span class="HeroVideo-series">&quot;{{ include.series.title }}&quot; series</span>-->
        </div>
      </div>
    </div>

    <div class="HeroVideo-actions">
      <span class="HeroVideo-actionsItem">
        <svg class="HeroVideo-action" role="img" title="Listen to audio">
          <use xlink:href="/build/images/video.svg#listen"></use>
        </svg>
        <span class="HeroVideo-actionText">Listen</span>
      </span>
      <a class="HeroVideo-actionsItem">
        <svg class="HeroVideo-action" role="img" title="Share on Facebook">
          <use xlink:href="/build/images/video.svg#facebook"></use>
        </svg>
        <span class="HeroVideo-actionText">Share</span>
      </a>
      <span class="HeroVideo-actionsItem">
        <svg class="HeroVideo-action" role="img" title="Tweet it">
          <use xlink:href="/build/images/video.svg#twitter"></use>
        </svg>
        <span class="HeroVideo-actionText">Tweet</span>
      </span>
      <span class="HeroVideo-actionsItem">
        <svg class="HeroVideo-action" role="img" title="More">
          <use xlink:href="/build/images/video.svg#more"></use>
        </svg>
        <span class="HeroVideo-actionText">more</span>
      </span>
    </div>
  </div>
</div>