<!-- Hero background image -->
{% capture heroImageDesktop %}{{ site.paths.staff_images }}{{ include.video.speaker_ident }}-sermon.jpg{% endcapture %}
{% assign heroImageTablet = heroImageDesktop %}
{% assign heroImageMobile = heroImageDesktop %}

{% if include.series.is_official_series %}
  {% capture heroImageDesktop %}{{ site.paths.series_images }}{{ include.series.ident }}-fade-out.jpg{% endcapture %}
  {% capture heroImageTablet %}{{ site.paths.series_images }}{{ include.series.ident }}-tall.jpg{% endcapture %}
  {% capture heroImageMobile %}{{ site.paths.series_images }}{{ include.series.ident }}-square.jpg{% endcapture %}
{% endif %}

<!-- Permalink / Share URL -->
{% capture permalink %}{{ site.url }}/videos/{{ include.video.ident }}/{% endcapture %}

{% if include.series.ident %}
{% capture permalink %}{{ site.url }}/series/{{ include.series.ident }}/{{ include.video.ident }}/{% endcapture %}
{% endif %}


<style type="text/css" scoped>
  @media (max-width: 499px) {
    .HeroVideo-imageWrap { background-image: url({{ heroImageMobile }}); }
  }
  @media (min-width: 500px) {
    .HeroVideo-imageWrap { background-image: url({{ heroImageTablet }}); }
  }
  @media (min-width: 900px) {
    .HeroVideo-imageWrap { background-image: url({{ heroImageDesktop }}); }
  }
</style>

<div class="HeroVideo" hero-video>
  <div class="HeroVideo-container">

    <!--<div class="HeroVideo-playWrap">-->
    <!--<svg class="HeroVideo-play" role="img" title="Play Video">-->
    <!--<use xlink:href="/build/images/video.svg#play-big"></use>-->
    <!--</svg>-->
    <!--</div>-->

    <div class="HeroVideo-imageWrap">
      <!--<img class="HeroVideo-image" src="{{ heroImage }}">-->
    </div>

    <div class="HeroVideo-info">

      {% if include.heading %}
      <h2 class="HeroVideo-heading">{{ include.heading }}</h2>
      {% endif %}
      <h3 class="HeroVideo-title">{{ include.video.title }}</h3>

      <div class="HeroVideo-meta">
        <!--<img class="HeroVideo-thumb" src="{{ site.paths.series_images }}{{ include.series.ident }}-square.jpg">-->
        <!--<img class="HeroVideo-thumb" src="{{ site.paths.staff_images }}{{ include.video.speaker_ident }}-1.jpg">-->
        <div class="HeroVideo-metaText">
          {% if include.video.speaker_name %}
          <span class="HeroVideo-speaker">{{ include.video.speaker_name }}</span>
          <span class="HeroVideo-metaSeparator">&middot;</span>
          {% endif %}
          <span class="HeroVideo-date">{{ include.video.publish_on | date: "%b %d, %Y" }}</span>
          <!--<span class="HeroVideo-series">&quot;{{ include.series.title }}&quot; series</span>-->
        </div>
      </div>

      <div class="HeroVideo-buttons">
        {% if include.video.vimeo_id %}
          <span class="HeroVideo-button" ng-click="openVideo({{ include.video.vimeo_id }})">
            <i class="icon-play"></i> Watch
          </span>
        {% endif %}
        {% if include.video.audio_file_name %}
          <a class="HeroVideo-button" href="{{ site.urls.mp3 }}{{ include.video.audio_file_name }}" target="_blank">
            <i class="icon-headphones"></i> Listen
          </a>
        {% endif %}
      </div>

    </div>

    <div class="HeroVideo-actions">
      <a class="HeroVideo-actionsItem" href="https://www.facebook.com/dialog/share?app_id=1592691894327442&display=popup&href={{ permalink }}&redirect_uri={{ site.url }}">
        <svg class="HeroVideo-action" role="img" title="Share on Facebook">
          <use xlink:href="/build/images/video.svg#facebook"></use>
        </svg>
        <span class="HeroVideo-actionText">share</span>
      </a>
      <!-- https://dev.twitter.com/web/intents -->
      <!-- We are using the "Limited Dependencies" code -->
      <a href="https://twitter.com/intent/tweet?text=Check+it+out&url={{ permalink }}" class="HeroVideo-actionsItem">
        <svg class="HeroVideo-action" role="img" title="Tweet it">
          <use xlink:href="/build/images/video.svg#twitter"></use>
        </svg>
        <span class="HeroVideo-actionText">tweet</span>
      </a>
      <span class="HeroVideo-actionsItem">
        <svg class="HeroVideo-action" role="img" title="Email a friend">
          <use xlink:href="/build/images/video.svg#email"></use>
        </svg>
        <span class="HeroVideo-actionText">email</span>
      </span>
      <span class="HeroVideo-actionsItem">
        <svg class="HeroVideo-action" role="img" title="More">
          <use xlink:href="/build/images/video.svg#more"></use>
        </svg>
        <span class="HeroVideo-actionText">more</span>
      </span>
    </div>
  </div>
</div>