<div class="PageFilters">
  <span class="PageFilters-label">Browse by:</span>
  <span class="PageFilters-option{% if include.active == 'series' %} is-active{% endif %}">Series</span>
  <!--<span class="PageFilters-option{% if include.active == 'speaker' %} is-active{% endif %}">Speaker</span>-->
  <span class="PageFilters-option{% if include.active == 'topic' %} is-active{% endif %}">Topic</span>
  <span class="PageFilters-option{% if include.active == 'recent' %} is-active{% endif %}">Recent</span>
  <span class="PageFilters-option{% if include.active == 'popular' %} is-active{% endif %}">Most Popular</span>
</div>