{% assign members = site.staff | sort: 'first_name' %}

<h2 class="Section-title">Staff Directory</h2>

<ul class="StaffList">
  {% for member in members %}
  <li class="StaffList-item">
    {% capture imgUrl %}/assets/images/staff/{{ member.ident }}-1.jpg{% endcapture %} {% if member.number_photos == null or member.number_photos == 0 %} {% assign imgUrl = 'https://placekitten.com/g/200/300' %} {% endif %}
    <span class="StaffList-photo" style="background-image:url('{{ imgUrl }}');"></span>
    <a class="StaffList-infoWrap" href="/staff/{{ member.ident }}/">
      <span class="StaffList-name">{{ member.display_name }}</span>
      <span class="StaffList-title">{{ member.title }}</span>
    </a>
  </li>
  {% endfor %}
</ul>