<div class="StaffSection {{ include.class }}">
  <div class="StaffSection-container">
    <h2 class="StaffSection-title">{{ include.title }}</h2>
    <ul class="StaffSection-grid">
      {% for member in include.staff %}

      {% capture imgUrl %}{{ site.paths.staff_images}}{{ member.ident }}-1.jpg{% endcapture %}
      {% if member.number_photos == null or member.number_photos == 0 %}
      {% assign imgUrl = 'https://placekitten.com/g/200/300' %}
      {% endif %}

      <li class="StaffSection-item">
        <a class="StaffSection-card" href="/staff/{{ member.ident }}/">
          <span class="StaffSection-photo" style="background-image:url('{{ imgUrl }}');"></span>
          <span class="StaffSection-name">{{ member.display_name }}</span>
          <span class="StaffSection-staffTitle">{{ member.title }}</span>
        </a>
      </li>

      {% endfor %}
    </ul>
  </div>
</div>