{% assign members = site.staff | sort: 'sort' %}

{% for campus in site.campuses %}

<h2 class="Section-title">{{ campus.page_title }}</h2>

<ul class="StaffGallery">
  {% for member in members %}
  {% if member.campuses == 'all' or member.campuses contains campus.ident %}
  <li class="StaffGallery-item">
    {% capture imgUrl %}/assets/images/staff/{{ member.ident }}-1.jpg{% endcapture %} {% if member.number_photos == null or member.number_photos == 0 %} {% assign imgUrl = 'https://placekitten.com/g/200/300' %} {% endif %}
    <a class="StaffGallery-infoWrap" href="/staff/{{ member.ident }}/">
      <span class="StaffGallery-photo" style="background-image:url('{{ imgUrl }}');"></span>
      <span class="StaffGallery-name">{{ member.display_name }}</span>
      <span class="StaffGallery-title">{{ member.title }}</span> </a>
  </li>
  {% endif %} {% endfor %}
</ul>

{% endfor %}