{% assign members = site.staff | sort: 'first_name' %}

<ul class="StaffGallery">
  {% for member in members %}
  <li class="StaffGallery-item">
    {% capture imgUrl %}/images/staff/{{ member.ident }}-1.jpg{% endcapture %} {% if member.number_photos == null or member.number_photos == 0 %} {% assign imgUrl = 'https://placekitten.com/g/200/300' %} {% endif %}
    <a class="StaffGallery-infoWrap" href="/staff/{{ member.ident }}/">
      <span class="StaffGallery-photo" style="background-image:url('{{ imgUrl }}');"></span>
      <span class="StaffGallery-name">{{ member.display_name }}</span>
      <span class="StaffGallery-title">{{ member.title }}</span> </a>
  </li>
  {% endfor %}
</ul>