@ContainerMaxWidth: 1340;
@ContainerHorizontalPadding: (@grid-gutter-base * 1.5);
@ContainerMaxInnerWidth: (@ContainerMaxWidth - (@ContainerHorizontalPadding * 2));

.Container {
  .to-rem(max-width, @ContainerMaxWidth);
  .to-rem(padding, 0 @ContainerHorizontalPadding);
  margin: 0 auto;
}