@FeaturedHeight: 600px;

.Featured {
  position:        relative;
  background:      #fff no-repeat top center;
  background-size: cover;
  height:          350px;
  width:           100%;

  @media (min-width: @Nav-showDesktopVersion) and (min-height: (@FeaturedHeight + 100)) {
    position: fixed;
    top:      0;
    z-index:  1;
    height:   @FeaturedHeight;
  }

  &:after {
    #gradient> .vertical(rgba(0, 0, 0, 0.34), transparent, 0%, 100%);
    content:  " ";
    position: absolute;
    left:     0;
    top:      0;
    height:   100%;
    width:    100%;
  }
}