@FeaturedHeight: 600px;

.Featured {
  height:      0;
  width:       100%;
  overflow:    hidden;
  padding-top: 100%;

  @media (min-aspect-ratio: 5/8) {
    padding-top: 36.48%; // 1920 x 700
  }

  @media (min-width: @Nav-showDesktopVersion) {
    //    height:   @FeaturedHeight;
  }
}

.Featured-content {
  #gradient> .vertical(rgba(0, 0, 0, 0.34), transparent, 0%, 100%);
  position: fixed;
  top:      0;
  z-index:  1;
}

.Featured-image--wide {
  display: none;
}

@media (min-aspect-ratio: 5/8) {
  .Featured-image--square {
    display: none;
  }

  .Featured-image--wide {
    display: inline;
  }
}

//.Featured-image {
//  position:        fixed;
//  top:             0;
//  left:            0;
//  height:          0;
//  width:           100%;
//  overflow:        hidden;
//  padding-top:     35.35%;
//  background:      #fff no-repeat center center;
//}