
.HeroVideo-container {
  &:extend(.Container);
}

@media (min-width: @Nav-showDesktopVersion) {

  .HeroVideo {
    background-color: #000;
  }

  .HeroVideo-container {
    position: relative;
    height:   405px;
  }

  .HeroVideo-imageWrap {
    position:            absolute;
    right:               4em;
    z-index:             1;
    height:              405px;
    width:               720px;
    background-position: 90% 0;
    background-repeat:   no-repeat;
  }

  .HeroVideo-playWrap {
    position:    absolute;
    top:         50%;
    left:        50%;
    z-index:     2;
    margin-top:  -75px;
    margin-left: -75px;
    width:       150px;
    height:      150px;
    cursor:      pointer;
  }

  .HeroVideo-play {
    position:    absolute;
    top:         50%;
    left:        50%;
    margin-top:  -50px;
    margin-left: -50px;
    width:       100px;
    height:      100px;
    cursor:      pointer;
  }

  .HeroVideo-info {
    .to-rem(top, 90);
    position: absolute;
    width:    40%;
    z-index:  3;
  }

  .HeroVideo-heading {
    .to-rem(font-size, 21);
    .to-rem(margin, 0 0 1.5);
    font-weight: @font-weight-light;
    color:       #a3a3a3;
  }

  .HeroVideo-title {
    .to-rem(font-size, 48);
    line-height: 1.1;
    font-weight: @font-weight-light;
    color:       #fff;
  }

  .HeroVideo-meta {
    .to-rem(font-size, 15);
    font-weight: @font-weight-light;
    color:       #fff;
  }

  .HeroVideo-metaText {
    display:        inline-block;
    vertical-align: middle;
  }

  .HeroVideo-thumb {
    width:        35px;
    height:       35px;
    margin-right: .5em;
  }

  .HeroVideo-date {
    display: block;
  }

  .HeroVideo-actions {
    .to-rem(top, 90);
    position:   absolute;
    right:      0;
    width:      80px;
    margin:     0;
    padding:    0;
    list-style: none;
  }

  .HeroVideo-actionsItem {
    .to-rem(font-size, 12);
    .to-rem(margin-bottom, @font-size);
    .link-color(#999);
    display:    block;
    padding:    0;
    width:      100%;
    text-align: center;
    cursor:     pointer;
  }

  .HeroVideo-action {
    height: 44px;
    width:  44px;
    fill:   #999;
  }

  .HeroVideo-actionText {
    display:    block;
    margin-top: .5em;
    &,
    &:hover {
      text-decoration: none;
    }
  }

}