// Square format
.Hero {
  position:            relative;
  height:              0;
  width:               100%;
  padding-top:         100%;
  overflow:            hidden;
  background-size:     100%;
  background-position: top;
}

// Wide format
@media (min-aspect-ratio: 5/8) {

  .Hero {
    padding-top: 36.48%;
  }
}

.Hero-container {
  position: absolute;
  top:      @Nav-height-lg;
  right:    0;
  bottom:   0;
  left:     0;
  width:    100%;
  height:   ~"calc(100% - @{Nav-height-lg})";
}
