/**
  CSS classes are added by a directive that monitors the scroll position of .Content
**/

@NavStickyBackgroundColor: #222;

body.navStyle--transparent {

  @media (min-width: @Nav-showDesktopVersion) {

    /*
      ===================================
      Nav enter
      ===================================
    */
    .Nav.sticky-yes {
      z-index:          @z-index-nav-sticky;
      background-color: @NavStickyBackgroundColor;
    }

    // From
    .Nav.sticky-yes-add {
      transition: top .5s ease-in-out;
      top:        -@Nav-height-lg;
    }

    // To
    .Nav.sticky-yes-add.sticky-yes-add-active {
      top: 0;
    }

    /*
      ===================================
      Nav leave
      ===================================
    */
    .Nav.sticky-no {
      background-color: transparent;
    }

    // From
    .Nav.sticky-no-add {
      transition:       background-color .5s ease-in-out;
      background-color: @NavStickyBackgroundColor;
    }

    // To
    .Nav.sticky-no-add.sticky-no-add-active {
      background-color: transparent;
    }

  }

}