@Nav-logoHeight-sm: 30px;
@Nav-hPadding-sm: 10px;
@Nav-vPadding-sm: 10px;

@Nav-logoHeight-md: 40px;
@Nav-hPadding-md: 20px;
@Nav-vPadding-md: 10px;

@Nav-logoHeight-lg: 40px;
@Nav-hPadding-lg: 20px;
@Nav-vPadding-lg: 10px;

@Nav-showDesktopVersion: 900px;

.Nav {
  user-select: none;
}

.Nav-background,
.Nav-dismiss {
  display: none;
}

/**
 * ==========================================================
 * Medium screen
 * ==========================================================
 */

@media (max-width: (@Nav-showDesktopVersion - 1)) {

  // TODO: Mobile nav styles
  .Nav {
    position:                    absolute;
    top:                         0;
    left:                        0;
    z-index:                     1;
    width:                       17em;
    min-height:                  100%;
    padding-bottom:              70px;
    background-color:            #2e2e2e;
    color:                       #cac9c9;

    // Transition
    -webkit-transform:           scale(1.1);
    -webkit-transition:          -webkit-transform 350ms ease;
    -webkit-backface-visibility: hidden;

    body.is-navOpen & {
      -webkit-transform: scale(1);
    }

    // Nav background
    &:before {
      content:          " ";
      display:          block;
      position:         fixed;
      top:              0;
      right:            17em;
      bottom:           0;
      left:             0;
      z-index:          -1;
      background-color: #2e2e2e;
    }
  }

  .Nav-logo {
    display: none;
  }

  .is-navOpen .Nav-background {
    display:          block;
    position:         fixed;
    top:              0;
    bottom:           0;
    left:             0;
    z-index:          0;
    width:            17em;
    background-color: #2e2e2e;
  }

  .is-navOpen .Nav-dismiss {
    position: fixed;
    z-index:  1002;
    top:      0;
    right:    0;
    bottom:   0;
    left:     17em;
    cursor:   pointer;
  }

  .Nav-menu {
    margin:  0;
    padding: 0;
  }

  .Nav-link {
    display:        block;
    height:         48px;
    line-height:    48px;
    padding:        0 15px;
    border-bottom:  1px solid #262626;
    font-size:      14px;
    font-weight:    bold;
    text-transform: uppercase;
    overflow:       hidden;
    text-overflow:  ellipsis;
    white-space:    nowrap;
    box-shadow:     0 1px 0 0 #363636;

    &,
    &:hover {
      color:           #cac9c9;
      text-decoration: none;
    }
  }

}

/**
 * ==========================================================
 * Large screen
 * ==========================================================
 */

@NavDesktopHeight: (@Nav-logoHeight-lg + @Nav-vPadding-lg + @Nav-vPadding-lg);

@media (min-width: @Nav-showDesktopVersion) {

  .Nav {
    position: fixed;
    z-index:  2;
    left:     0;
    right:    0;
    height:   @NavDesktopHeight;
    width:    100%;
    padding:  @Nav-vPadding-lg @Nav-hPadding-lg;
  }

  .Nav-menu {
    margin: 0;
  }

  .Nav-container {
    position:  relative;
    max-width: 1100px;
    margin:    0 auto;
    padding:   0 20px;
  }

  .Nav-logoWrap {
    float:        left;
    display:      inline-block;
    height:       @Nav-logoHeight-lg;
    margin-right: 12px;
  }

  .Nav-logo {
    height: 100%;
  }

  .Nav-menu {
    float:      right;
    margin:     0;
    padding:    0;
    list-style: none;
  }

  .Nav-item {
    position:    relative;
    float:       left;
    margin-left: 25px;
    cursor:      pointer;
  }

  .Nav-link {
    display:        block;
    line-height:    @Nav-logoHeight-lg;
    font-size:      14px;
    text-transform: uppercase;

    &,
    &:hover {
      text-decoration: none;
      color:           #fff; // TODO: .link-color();
    }
  }

}