@StaffGalleryPadding: 30;

.StaffGallery {
  .to-rem(margin, 0 0 0 -@StaffGalleryPadding);
  padding:    0;
  list-style: none;
  font-size:  0;
}

.StaffGallery-item {
  .to-rem(font-size, @font-size);
  .to-rem(padding-left, @StaffGalleryPadding);
  .to-rem(margin, 0 0 60);
  .to-rem(max-width, (@ContainerMaxInnerWidth / 4));
  display:        inline-block;
  width:          50%;
  vertical-align: top;
  text-align:     center;
}

.StaffGallery-infoWrap {
  color: @root-text-color;
  &:hover {
    text-decoration: none;
  }
}

.StaffGallery-photo {
  .to-rem(margin-bottom, 12);
  display:             inline-block;
  width:               70%;
  height:              0;
  padding-top:         70%;
  background-position: center;
  background-size:     cover;
  opacity:             1;
  transition:          opacity .25s ease-in-out;
  border-radius:       100em;
}

.StaffGallery-name {
  .h6();
  display:       block;
  margin-bottom: 0;
}

.StaffGallery-title {
  display: block;
}
