@StaffGalleryPadding: 30;

.StaffGallery {
  .to-rem(margin, 0 0 0 -@StaffGalleryPadding);
  padding:    0;
  list-style: none;
  font-size:  0;
}

.StaffGallery-item {
  .to-rem(font-size, @font-size);
  .to-rem(padding-left, @StaffGalleryPadding);
  .to-rem(margin, 0 0 60);
  .to-rem(max-width, (@ContainerMaxInnerWidth / 4));
  display:        inline-block;
  width:          50%;
  vertical-align: top;
}

.StaffGallery-infoWrap {
  color: @root-text-color;
  &:hover {
    text-decoration: none;
  }
}

.StaffGallery-photo {
  .to-rem(margin-bottom, 12);
  display:             block;
  width:               100%;
  height:              0;
  padding-top:         100%;
  background-position: center;
  background-size:     cover;
  opacity:             1;
  transition:          opacity .25s ease-in-out;
}

.StaffGallery-name {
  .to-rem(font-size, 16);
  display:        block;
  line-height:    1.7;
  text-transform: uppercase;
}

.StaffGallery-title {
  .to-rem(font-size, 15);
  display:     block;
  line-height: 1.3;
  font-weight: @font-weight-regular;
  color:       @black-40;
}