@StaffListPadding: 30;

.StaffList {
  padding:       0;
  margin-bottom: 3rem;
  padding-top:   1rem;
  border-top:    1px solid #ddd;
  list-style:    none;
}

.StaffList-item {
  .clearfix();
  display:       block;
  margin:        0 0 1rem;
  padding:       0 0 1rem;
  border-bottom: 1px solid #ddd;
}

.StaffList-photo {
  display:             inline-block;
  width:               60px;
  height:              60px;
  margin-right:        .5rem;
  background-position: center;
  background-size:     cover;
  opacity:             .8;
  transition:          opacity .25s ease-in-out;
  vertical-align:      middle;

  &:hover {
    opacity: 1;
  }
}

.StaffList-infoWrap {
  display:        inline-block;
  vertical-align: middle;
  color:          @root-text-color;
  &:hover {
    text-decoration: none;
  }
}

.StaffList-name {
  .to-rem(font-size, 16);
  display:        block;
  letter-spacing: 1px;
}

.StaffList-title {
  .to-rem(font-size, 14);
  display:     block;
  font-weight: 400;
  color:       @black-40;
}
