
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-instagramm:before { content: '\e802'; } /* '' */
.icon-git:before { content: '\e803'; } /* '' */
.icon-play:before { content: '\e805'; } /* '' */