
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-instagramm:before { content: '\e802'; } /* '' */
.icon-git:before { content: '\e803'; } /* '' */
.icon-play-1:before { content: '\e804'; } /* '' */
.icon-pause:before { content: '\e805'; } /* '' */
.icon-play-circled:before { content: '\e806'; } /* '' */