---
layout: default
---

{% if page.hero_image != null %}

<style type="text/css" scoped>
  .hero_image { background-image: url({{ page.hero_image | replace: '-wide.jpg', '-tall.jpg' }}); }

  @media (min-width: 47.5rem) {
    .hero_image { background-image: url({{ page.hero_image }}); }
  }

</style>

{% else %}

<style type="text/css" scoped>
  .hero_image { background-image: url(/build/images/temp/hero-placeholder.png); }
</style>

{% endif %}

<div class="Hero hero_image">

</div>

<div class="Content">
  {{ content }}
</div>
