---
layout: default
---

{% if page.banner_image != null %}

<style type="text/css" scoped>
  .Hero--series-{{ series.ident }} { background-image: url({{ page.banner_image_square }}); }
  @media (min-aspect-ratio: 5/8) {
    .Hero--series-{{ series.ident }} { background-image: url({{ page.banner_image }}); }
  }
</style>
{% else %}
<style type="text/css" scoped>
  .Hero--series-{{ series.ident }} { background-image: url(/build/images/temp/banner-placeholder.png); }
</style>
{% endif %}

<div class="Hero" style="background-image: url('{{ page.banner_image }}');">

</div>

<div class="Content" content-scroll>
  {{ content }}
</div>
