---
layout: default
---

{% assign series = page %}
{% assign playlist = site.video | where:"series", series.ident | sort:"publish_on" %}
{% assign promo = playlist | where:"type", "promo" | first %}
{% capture imgUrl_wide %}/assets/series/{{ series.ident }}-wide.jpg{% endcapture %}
{% capture imgUrl_square %}/assets/series/{{ series.ident }}-square.jpg{% endcapture %}

<style type="text/css" scoped>
  .Hero--series-{{ series.ident }} { background-image: url(/assets/series/{{ series.ident }}-square.jpg); }
  @media (min-aspect-ratio: 5/8) {
    .Hero--series-{{ series.ident }} { background-image: url(/assets/series/{{ series.ident }}-wide.jpg); }
  }
</style>

<div class="Hero Hero--series-{{ series.ident }}"></div>

<div class="Content" content-scroll>
  <div class="Container">
    <h1 class="Section-title">{{ series.title }}</h1>
    {{ series.content }}

    {% include playlist.html playlist=playlist %}

  </div>
</div>