---
layout: default
---

{% assign video = page %}
{% assign series = site.series | where:"ident", video.series | first %}
{% assign playlist = site.videos | where:"series", video.series | sort:"publish_on" %}

{% capture heading %}&quot;{{ series.title }}&quot; Series{% endcapture %}

{% if series.is_official_series != true %}
{% assign heading = null %}
{% endif %}

<style type="text/css" scoped>
  @media (min-width: 900px) {
    .Hero--series-{{ series.ident }} { background-image: url({{ site.paths.series_images}}{{ series.ident }}-wide-blur.jpg); }
  }
</style>

{% include hero-video.html video=video series=series heading=heading %}

<div class="Content">
  <div class="Container">

    {% if series.is_official_series %}

    <div class="Section">

      <div class="PageHeader">
        <div class="PageHeader-container">

          <a href="{{ site.urls.series }}{{ series.ident }}/"><img class="PageHeader-thumb" src="{{ site.paths.series_images}}{{ series.ident }}-square.jpg"></a>

          <div class="PageHeader-titles">
            <h1 class="PageHeader-title">
              {{ series.title }}
            </h1>
          </div>
        </div>
      </div>

      {% include playlist.html playlist=playlist selected=video.ident %}

    </div>

    {% endif %}

  </div>

</div>