---
layout: default
---

{% assign videos = site.series_video | where:"series", page.ident | sort:"publish_on" %}
{% assign promo = videos | where:"type", "promo" | first %}
{% capture imgUrl_wide %}/assets/series/{{ page.ident }}-wide.jpg{% endcapture %}
{% capture imgUrl_square %}/assets/series/{{ page.ident }}-square.jpg{% endcapture %}

<style type="text/css" scoped>
  .Hero--series-{{ page.ident }} { background-image: url(/assets/series/{{ page.ident }}-square.jpg); }
  @media (min-aspect-ratio: 5/8) {
    .Hero--series-{{ page.ident }} { background-image: url(/assets/series/{{ page.ident }}-wide.jpg); }
  }
</style>

<div class="Hero Hero--series-{{ page.ident }}">
  <a href="{{ promo.url }}" class="Hero-playButton"></a>
</div>

<!--<div class="Featured">-->
  <!--<div class="Featured-content">-->
    <!--<img class="Featured-image Featured-image--wide" src="{{ imgUrl_wide }}">-->
    <!--<img class="Featured-image Featured-image--square" src="{{ imgUrl_square }}">-->
  <!--</div>-->
<!--</div>-->

<div class="Content" content-scroll>
  <div class="Container">
    <h1 class="Section-title">{{ page.title }}</h1>
    {{ page.content }}
    <hr>
    <ul>
      {% for video in videos %}
        <li>
          <div>{{ video.title }} | {{ video.speaker }} | {{ video.publish_on | date: "%b %d, %Y" }}</div>
          <a href="{{ video.url }}">Play Video</a>
          {% if video.audio_file_name %}
            | <a href="http://fpcresources.org/audio/{{ video.audio_file_name }}">Play Audio</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>