---
layout: default
---

{% capture imgUrl %}{{ site.paths.staff_images}}{{ page.ident }}-1.jpg{% endcapture %}

{% if page.number_photos == null or page.number_photos == 0 %}
{% assign imgUrl = 'https://placekitten.com/g/200/300' %}
{% endif %}

{% if page.has_cover_photo %}
{% capture imgUrl %}{{ site.paths.staff_images}}{{ page.ident }}-cover.jpg{% endcapture %}
{% endif %}

<div class="StaffHeader" style="background-image: url('{{ imgUrl }}');">
  <div class="StaffHeader-content">
    <div class="StaffHeader-titles">
      <h1 class="StaffHeader-name">{{ page.display_name }}</h1>

      <h2 class="StaffHeader-title">{{ page.title }}</h2>
    </div>
  </div>
</div>

<div class="Content">

  <div class="StaffProfile-about">
    <div class="StaffHeader-social">
      {% if page.facebook %}<a class="StaffHeader-socialIcon icon-facebook" href="https://facebook.com/{{ page.facebook }}"></a>{% endif %}
      {% if page.twitter %}<a class="StaffHeader-socialIcon icon-twitter" href="https://twitter.com/{{ page.twitter }}"></a>{% endif %}
    </div>
    <div class="StaffProfile-bio">
      {{ page.content }}
    </div>
  </div>

  <div class="StaffMore">
    <p>
      <a href="{{ site.urls.staff }}">Meet the staff</a>
    </p>
  </div>

</div>